:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
}
body{
  margin: 0;
}

.animated-svg {
  animation-name: bounce;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes wobble {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}